*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#0b0f19;
    color:white;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    background:#111827;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

.hero{
    height:90vh;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
}

.content h1{
    font-size:55px;
    margin-bottom:10px;
}

.content span{
    color:#3b82f6;
}

.content h3{
    color:#8b5cf6;
    margin-bottom:20px;
}

.content p{
    max-width:600px;
    margin:auto;
    line-height:1.8;
}

.btn{
    display:inline-block;
    margin-top:30px;
    padding:12px 28px;
    background:#3b82f6;
    color:white;
    text-decoration:none;
    border-radius:8px;
}
